<nav id="sidebar">
  <div id="header-wrapper">
    <div id="header">
      {{ partial "logo.html" . }}
    </div>
    
        {{ partial "search.html" . }}
</div>


  <div class="highlightable">
    <ul class="topics">

{{ $currentNode := . }}
{{ range .Site.Menus.main }}

    <li data-nav-id="{{ .URL }}" class="dd-item 
    {{if ($currentNode.IsMenuCurrent "main" .) }}active{{end}} 
    {{if ($currentNode.HasMenuCurrent "main" .) }}parent{{end}}">
    <a href="{{.URL}}">{{.Name}}</a>
    
        {{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
        {{ $.Scratch.Set "CurrentMenu" . }}
        {{ $.Scratch.Add "Breadcrumbs" (print " / <a href='" .URL  "'>" .Name "</a>" )  }}
        {{ if .HasChildren }}
            <ul class="n1">
            {{ range .Children }}
            {{ if ne .Identifier ""}}
                <li data-nav-id="{{ .URL }}" class="dd-item {
                    {{if ($currentNode.IsMenuCurrent "main" .) }}active{{end}} 
                    {{if ($currentNode.HasMenuCurrent "main" .) }}parent{{end}}">
                <a href="{{.URL}}">{{ .Name }} </a>
                
                {{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
                {{ $.Scratch.Set "CurrentMenu" . }}
                {{ $.Scratch.Add "Breadcrumbs" (print " / <a href='" .URL  "'>" .Name "</a>" )  }}
                {{ if .HasChildren }}
                <ul class="n2">
                {{ range .Children }}
                {{ if ne .Identifier ""}}
                <li data-nav-id="{{ .URL }}" class="dd-item 
                    {{if ($currentNode.IsMenuCurrent "main" .) }}active{{end}} 
                    {{if ($currentNode.HasMenuCurrent "main" .) }}parent{{end}}">
                    <a href="{{.URL}}">{{ .Name }}</a>
                

                    {{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
                    {{ $.Scratch.Set "CurrentMenu" . }}
                    {{ $.Scratch.Add "Breadcrumbs" (print " / <a href='" .URL  "'>" .Name "</a>" )  }}
                    {{ if .HasChildren }}
                    <ul class="n3">
                    {{ range .Children }}
                        {{ if ne .Identifier ""}}
                        <li data-nav-id="{{ .URL }}" class="dd-item 
                            {{if ($currentNode.IsMenuCurrent "main" .) }}active{{end}} 
                            {{if ($currentNode.HasMenuCurrent "main" .) }}parent{{end}}">
                            <a href="{{.URL}}">{{ .Name }} </a>
                        

                            {{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
                            {{ $.Scratch.Set "CurrentMenu" . }}
                            {{ $.Scratch.Add "Breadcrumbs" (print " / <a href='" .URL  "'>" .Name "</a>" )  }}
                            {{ if .HasChildren }}
                            <ul class="n4">
                            {{ range .Children }}
                                {{ if ne .Identifier ""}}
                                <li data-nav-id="{{ .URL }}" class="dd-item 
                                    {{if ($currentNode.IsMenuCurrent "main" .) }}active{{end}} 
                                    {{if ($currentNode.HasMenuCurrent "main" .) }}parent{{end}}">
                                    <a href="{{.URL}}">{{ .Name }} </a>
                                </li>
                                {{ end }}
                            {{ end }}
                            </ul>
                            {{ end }}
                            {{ end }}
                        </li>
                        {{ end }}
                    {{ end }}
                    </ul>
                    {{ end }}
                    {{ end }}
                </li>
                {{ end }}
                {{ end }}
                </ul>
                {{ end }}
                {{ end }}
            </li>
            {{ end }}
            {{ end }}
            </ul>
        {{ end }}
        {{ end }}
    </li>
{{end}}




   

    </ul>
    <hr>
     {{ if .Site.Params.showVisitedLinks}}
     <a class="padding" href="#" data-clear-history-toggle=""><i class="fa fa-fw fa-history"></i> Clear History</a>
     {{ end }}
    <section id="footer">
      {{ partial "menu-footer.html" . }}
    </section>
  </div>
</nav>
